
.auth-box {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 20px 10px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: relative;
    top: 50px;
}

.auth-header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
    position: relative;
}

.auth-body {
    width: 80%;
    bottom: 20px;
    position: relative;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.phoneNumberInput, .passwordInput, .usernameInput {
    width: 97%;
    height: 55px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.1), 3px 6px 20px 10px rgba(0, 0, 0, 0.12);
    transition: 0.1s ease;
    font-size: 25px;
    color: #000000;
    font-weight: 200;
    padding-left: 25px;
    position: relative;
}

.phoneNumberInput:focus, .passwordInput:focus {
    transform: scale(1.05);
}

.phoneNumberInput::-webkit-input-placeholder,
.passwordInput::-webkit-input-placeholder,
.usernameInput::-webkit-input-placeholder {
    font-size: 25px;
    color: #000000;
    opacity: 0.28;
}

.signInButton {
    width: 45%;
    height: 70px;
    border-radius: 20px;
    border: 0;
    background-color: #B5312E;
    font-size: 30px;
    color: #ffffff;
    font-weight: 200;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.1), 3px 6px 20px 10px rgba(0, 0, 0, 0.12);
}

.forgetText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
}