@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.not-found-text {
    font-size: 48px;
}

.goBackButton {
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.goBackButton:hover {
    background-color: #000000;
}

